.btn-wa {
	width: 60px;
	height: 60px;
	background-color: #343a40;
	color: #edc600;
	border-radius: 20px;
	&:hover {
		background-color: #edc600;
		color: #343a40;
	}
}
.btn-up {
	width: 40px;
	height: 40px;
	background-color: #343a40;
	color: #edc600;
	border-radius: 20px;
}
.btn-contacto {
	width: 6rem;
	height: auto;
	padding: 5px;
	background-color: #edc600;
	color: #343a40;
	border-radius: 30px;
	font-size: small;
	&:hover {
		background-color: #343a40;
		color: #edc600;
	}
}

.btn-gold:hover {
	background-color: transparent;
	color: #edc600;
	border-color: #edc600;
}